@import '~@angular/material/theming';
.event-card {
  max-width: 100%;
  min-width: 250px;
  margin: 5px;
  padding: 0px;
  padding-bottom: 5px;
  flex-grow: 1;
}

.events-list {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.event-card-title {
  margin: 0px;
  padding-bottom: 5px;
  width: 100%;
  background: #7387f5;
  ;
}
