<div class="events-list">
  <mat-card class="event-card mat-elevation-z3">
    <mat-card-header class="event-card-title mat-elevation-z2" color="primary">
      <mat-card-title>
        <h3>{{event.name}}</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list role="list">
        <mat-list-item role="listitem">Date: {{event.date}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">Time: {{event.time}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">Price: {{event.price}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <p matLine> Location: {{event.location.address}} </p>
          <p matLine> {{event.location.city}}, {{event.location.country}} </p>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
  <mat-card class="event-card mat-elevation-z3">
    <mat-card-header class="event-card-title mat-elevation-z2">
      <mat-card-title>
        <h3>{{event.name}}</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list role="list">
        <mat-list-item role="listitem">Date: {{event.date}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">Time: {{event.time}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">Price: {{event.price}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <p matLine> Location: {{event.location.address}} </p>
          <p matLine> {{event.location.city}}, {{event.location.country}} </p>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
  <mat-card class="event-card mat-elevation-z3">
    <mat-card-header class="event-card-title mat-elevation-z2">
      <mat-card-title>
        <h3>{{event.name}}</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list role="list">
        <mat-list-item role="listitem">Date: {{event.date}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">Time: {{event.time}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">Price: {{event.price}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <p matLine> Location: {{event.location.address}} </p>
          <p matLine> {{event.location.city}}, {{event.location.country}} </p>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
  <mat-card class="event-card mat-elevation-z3">
    <mat-card-header class="event-card-title mat-elevation-z2">
      <mat-card-title>
        <h3>{{event.name}}</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list role="list">
        <mat-list-item role="listitem">Date: {{event.date}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">Time: {{event.time}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">Price: {{event.price}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <p matLine> Location: {{event.location.address}} </p>
          <p matLine> {{event.location.city}}, {{event.location.country}} </p>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

</div>
